<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Home Page </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quidem atque fugit unde cumque, cupiditate accusantium eligendi architecto dolorem consequatur possimus iusto! Dolore dignissimos perferendis omnis vitae adipisci, ipsum vero.</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente illo molestias, soluta magnam reprehenderit ipsum animi, veritatis quasi quo ea exercitationem, labore cupiditate facere nulla dolore nam nisi repellendus perspiciatis?
    Nam hic asperiores eaque veniam voluptates iste saepe labore harum soluta sit delectus corrupti nemo libero, facere ullam maiores. Harum deleniti quas quae numquam, ipsa distinctio qui ab earum unde?
    Molestias ipsa aperiam ipsam a dolorem quidem possimus illo laborum similique minus culpa nisi, voluptas numquam quod rerum eius aliquam porro voluptate excepturi maxime delectus dolorum. At in quos ipsa.
    Ullam nam excepturi voluptate consequuntur asperiores, non autem quis cumque, fuga architecto molestias sed doloribus aut corrupti maiores! Corrupti facilis aperiam unde quibusdam quos cumque est eum sint repellendus ipsam?
    Minus fugit voluptatum, aliquam ratione inventore sunt officiis aperiam vero eius consequatur obcaecati hic alias suscipit quibusdam reiciendis facere dolore architecto blanditiis! Sunt voluptatibus vitae accusamus eum laborum cumque eligendi!</p>
</body>
</html>